
* {
    font-family: Noto Sans;
    padding: 0;
    margin: 0;
    
}
html{
    background-color: #FFEDD7;
}

div {
    display: block;
    width: 100vw;
    overflow: hidden;
    margin: auto;
}

section {
    padding: 0;
    margin: auto;
    overflow: hidden;
    width: 100%;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 20 0 20 0px;
}
.section1 h1 {
    text-align: center;
    display: block;
    width: 50vw;
    height: 15vh;
    margin: 0;
}
.section1 {
    background-color: white;
    width: 100vw;
    height: 15vh;
    display: inline-flex;
    overflow: hidden;
}
.top_menubar nav{
    display: flex;
    width: 84vw;
    margin: 0 0 0 35rem;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    place-items: center;
    
}

.top_menubar nav ul li {
    display: inline-block;
    font-size: 2.2rem;
    margin: 10 20px;
    padding: 0 3rem;
}
.top_menubar nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.top_menubar nav ul li a:hover{
    color: crimson; 
}

.section2 {
    background-image: url(Resources/background.jpg);
    background-size: cover;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
}

.section2 h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    padding: 3rem 3rem 0 3rem;
}

.section2 p{
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
    padding: 3rem 3rem 3rem 3rem;
    width: 80vw;
}

.section3 h1{
    text-align: center;
    margin: 3rem;
}

img {
    width:20%;
    height:100%;
    overflow:hidden;
    background-position:center center;
    background-repeat: no-repeat;
    background-size:cover;
    

}

.kay img {
    float: left;
    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;

        
}

.kay p {
    padding-top: 1rem;
    padding-right: 10rem;
}

.gyj img {
    float: right;
    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.gyj p {
    padding-top: 1rem;
    padding-left: 10rem;
}

.section4 h1 {
    text-align: center;
    margin: 3rem;
}

.xqh img {
    float: left;
    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.xqh p {
    padding-top: 1rem;
    padding-right: 10rem;
}

.wy img {
    float: right;
    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.wy p {
    padding-top: 1rem;
    padding-left: 10rem;
}

.francis img {
    float: left;
    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.francis p {
    padding-top: 1rem;
    padding-right: 10rem;
}

.section5 h1 {
    text-align: center;
    margin: 3rem;
}

.partner div {
    display: inline-block;
    margin: 0 40px;
}
.partner {
    text-align: center;
    justify-content: space-between;
}

.ptn1 {
    background-image: url(Resources/Outchinalogo.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;   
}
.ptn2 {
    background-image: url(Resources/Upwomxn%20logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;  
}

.ptn3 {
    background-image: url(Resources/CRN-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;  
}


footer {
    width: 100%;
    border-top: 1px solid;
    border-color: black;
    margin-top: 20px;
    
}
.footbar ul {
    text-align: center;
    margin-top: 15px;
    
}

.footbar ul li {
    display:inline-block;
    font-size: 1rem;
    margin:0px 50px;
}

.footbar ul li a {
    font-size: 1rem;
    color: #000;
    
}

.footbar ul li a:hover{
    color: crimson; 
}
.foottext p {
    text-align: center;
    margin: 20px 0 20px 0;
}

.footcpnname {
    text-align: center;
}


